<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.hockeyapp.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application tools:ignore="AllowBackup">

        <activity android:name=".UpdateActivity"/>
        <activity android:name=".FeedbackActivity"/>
        <activity android:name=".PaintActivity"/>
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="net.hockeyapp.android.sdkVersion"
            android:value="${HOCKEY_MANIFEST_SDK_VERSION}"/>

    </application>

</manifest>
